repos:
-   repo: local
    hooks:
    -   id: format-cfn
        name: Format CloudFormation
        entry: make format-cfn
        language: system
-   repo: local
    hooks:
    -   id: format-js
        name: Format Javascript
        entry: make format-js
        language: system
-   repo: local
    hooks:
    -   id: format-python
        name: Format Python Code
        entry: make format-python
        language: system
-   repo: local
    hooks:
    -   id: format-docs
        name: Format Markdown docs
        entry: make format-docs
        language: system
-   repo: local
    hooks:
    -   id: generate-api-docs
        name: Generate API Docs
        entry: make generate-api-docs
        language: system
-   repo: https://github.com/awslabs/git-secrets
    rev: 5e28df337746db4f070c84f7069d365bfd0d72a8
    hooks:
    -   id: git-secrets
-   repo: local
    hooks:
    -   id: cfn-lint
        name: Lint CloudFormation templates
        entry: make lint-cfn
        language: system
