pytest==5.2.1
cfn-lint==0.24.4
boto3==1.11.9
cfn-flip==1.2.1
requests==2.22.0
jsonschema==3.1.1
aws-xray-sdk==2.4.2
python-dotenv==0.10.3
mock==3.0.5
pyarrow==0.15.0
pandas==0.25.3
pytest-cov==2.8.1
s3fs==0.4.0
crhelper==2.0.4
