html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  background-color: #f2f3f3;
}

#root,
.App,
.App div:nth-child(2) {
  height: 100%;
  width: 100%;
}

.amplify-auth label {
  margin-bottom: 0;
}

.amplify-auth input {
  vertical-align: inherit;
}

.amplify-auth button,
button {
  background: #ec7211;
  color: #fff;
  border-color: #ec7211;
  position: relative;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid;
  padding: 0.2rem 2rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  display: inline-block;
  cursor: pointer;
  text-transform: unset;
  font-size: 1rem;
  line-height: 1.8rem;
}

.amplify-auth button:hover,
button:hover {
  background: #eb5f07;
  opacity: 1;
}

h2 {
  color: #16191f;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}

h3 {
  color: #16191f;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

a {
  color: #0073bb;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: #0073bb;
}

li {
  margin-bottom: 8px;
  list-style: none;
}
