/* LAYOUT */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  background-color: #f2f3f3;
}

#root,
.App {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.row {
  width: calc(100% - 40px);
  margin: 0;
  padding: 0;
}

.col {
  padding: 0;
}

.spinner {
  width: 24px !important;
  height: 24px !important;
  color: #515b6f;
}

.centered {
  text-align: center;
}

.form-container {
  max-width: 800px;
}

#layout .form-container h2 {
  padding-left: 20px;
}

:root {
  --amplify-primary-color: #ec7211;
  --amplify-font-family: Helvetica, Arial, sans-serif;
  --amplify-text-md: 18px;
  --amplify-text-sm: 14px;
}

.amplify-auth-container {
  text-align: center;
  margin: 5% auto 50px;
}

/* BUTTONS */
a:hover,
button.btn-link:hover,
button.btn-link:focus {
  color: #0073bb;
  background: transparent;
  border: 0;
  box-shadow: none;
}

.home-button {
  width: auto;
}

.buttons-right {
  text-align: right;
  padding-top: 0.5rem;
}

button,
.aws-button,
.aws-button:disabled {
  background: #ec7211;
  color: #fff;
  border-color: #ec7211;
  position: relative;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid;
  padding: 0.2rem 1.3rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  display: inline-block;
  cursor: pointer;
  text-transform: unset;
  font-size: 1rem;
  line-height: 1.8rem;
}

button:hover,
.aws-button:hover {
  background: #eb5f07;
  border-color: #ec7211;
  opacity: 1;
}

.aws-button:active {
  background-color: #dd6b10 !important;
  color: #fff;
  border-color: #dd6b10 !important;
}

.aws-button:active,
.aws-button:focus,
.aws-button:focus-within {
  box-shadow: none !important;
  background: #eb5f07;
  border-color: #ec7211;
}

.aws-button.cancel {
  background-color: transparent;
  color: #545b64;
  border-color: transparent;
  position: relative;
  text-decoration: none;
  margin-right: 10px;
}

.aws-button.cancel:hover {
  background-color: #fafafa;
  color: #16191f;
  border-color: #fafafa;
  text-decoration: none;
}

.aws-button.cancel:active,
.aws-button.cancel:focus,
.aws-button.cancel:focus-within {
  background-color: #eaeded !important;
  border-color: #fafafa !important;
  color: #16191f !important;
}

.action-button {
  background: #fff;
  color: #545b64;
  border-color: #545b64;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.action-button:hover {
  background: #fafafa;
  color: #16191f;
  border-color: #16191f;
  text-decoration: none;
}

.action-button:active,
.action-button:focus,
.action-button:focus-within {
  background: #eaeded !important;
  border-color: #16191f !important;
  color: #16191f !important;
}

.action-button:disabled {
  background: #fff;
  border-color: #d5dbdb;
  color: #aab7b8;
  text-decoration: none;
  pointer-events: none;
  cursor: auto;
}

.action-button-orange {
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ec7211;
}

a,
button.btn-link {
  color: #0073bb;
  text-decoration: none;
  font-weight: 400;
  border: 0;
}

/* TYPOGRAPHY */
h1 {
  color: #16191f;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  color: #16191f;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}

h3 {
  color: #16191f;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

li {
  margin-bottom: 8px;
  list-style: none;
}

/* ALERT */
.alert {
  padding: 20px;
  margin: 25px;
  width: calc(100% - 50px);
  color: #16191f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.alert-content .alert-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 2px;
  margin-top: 12px;
}

.alert-content p {
  padding: 0 !important;
}

.alert-danger {
  border-color: #d13212;
  background-color: #fdf3f1;
}

.alert-info {
  border-color: #0073bb;
  background-color: #f1faff;
}

.alert-danger .icon,
.alert-info .icon {
  width: 3.2rem;
  height: 4rem;
  padding: 0.4rem 0;
  box-sizing: border-box;
}

.alert svg {
  width: 62px;
  height: 62px;
}

/* TABLES */
.page-table {
  padding: 0 0 1rem;
  background: #fafafa;
  border-bottom: 1px solid #eaeded;
  width: calc(100% - 50px);
  margin-left: 25px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3),
    1px 1px 1px 0 rgba(0, 28, 36, 0.15), -1px 1px 1px 0 rgba(0, 28, 36, 0.15);
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3),
    1px 1px 1px 0 rgba(0, 28, 36, 0.15), -1px 1px 1px 0 rgba(0, 28, 36, 0.15);
  border-top: 1px solid #eaeded;
  border-radius: 0;
  border-bottom: 1px solid #8b969a;
  margin-bottom: 20px;
}

.page-table thead {
  color: #545b64;
  font-weight: 700;
}

.page-table tbody tr {
  border: 1px solid transparent;
  background-color: #fff;
}

.page-table tr.selected {
  border: 1px solid #0073bb;
  background-color: #f1faff;
}

.page-table tr.selected td {
  border-top: 1px solid #0073bb;
  border-bottom: 1px solid #0073bb;
}

.page-table .content {
  background-color: #fff;
  padding: 40px;
  color: #545b64;
}

.page-table .header {
  border-bottom: 1px solid #eaeded;
}

.page-table .input-filter {
  max-width: 728px;
}

.page-table.form-container .content {
  padding: 20px;
}

#layout .page-table.form-container p,
.form-container label {
  color: #000;
  padding: 0;
}

.input-filter {
  padding: 0rem 1rem 0 1rem;
  margin-right: 1rem;
}

.input-filter .form-control {
  margin-right: 1rem;
}

/* RADIO CARDS */
.radio-card {
  border: 1px solid #879596;
  float: left;
  border-radius: 2px;
  padding: 16px;
  color: #000;
  margin-bottom: 20px;
}

.radio-card p {
  color: #687078 !important;
  font-size: 13px;
  line-height: 18px;
  padding: 0 0 0 27px !important;
  margin-bottom: 0;
}

.radio-card.selected {
  border: 1px solid #00a1c9;
  background-color: #f1faff;
}

/* FORMS */
.form-group .form-label {
  margin-bottom: 0;
  padding-bottom: 0;
}

.form-group .form-text {
  font-size: 13px;
}

form input[type="text"],
form select {
  border-radius: 1px !important;
  background-image: none !important;
}

form input.is-invalid,
form select.is-invalid {
  color: #d13212;
  border-color: #d13212;
  padding-left: 7px;
  border-left-width: 4px;
}

form input[type="text"]::placeholder {
  color: #879596;
  font-style: italic;
}

form .form-check {
  margin-bottom: 5px;
  vertical-align: middle;
}

form .form-check-label {
  margin-left: 6px;
  white-space: normal;
}

.form-container.submit-container {
  text-align: right;
  margin-bottom: 50px;
  margin-left: 25px;
  padding: 0;
}

.form-container .alert {
  width: 100%;
}

.form-error {
  color: #d13212;
}

/* MODAL */
.modal-backdrop {
  background-color: hsla(180, 4%, 95%, 0.9);
  opacity: 1 !important;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.5);
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 2rem;
  word-wrap: break-word;
}

.modal-content .close {
  font-size: 1.7rem;
  font-weight: 300;
  text-shadow: 0 1px 0 #545b64;
}

.modal-content .close:hover,
.modal-content .close:focus {
  outline: 0;
  background-color: transparent;
}

.modal-content h3 {
  font-size: 1.3rem;
}

.modal-content h4 {
  font-size: 1.2rem;
}

.modal-header {
  font-size: 1.8rem;
  line-height: 2rem;
  background-color: #fafafa;
  border-bottom: 1px solid #eaeded;
  padding: 1rem 1rem 0.4rem 1rem;
  font-weight: 700;
}

.modal-title {
  font-weight: 700;
  font-size: 1.3rem;
}

/* NAV */
.nav-tabs {
  border-bottom: 1px solid #aab7b8;
}

.nav-tabs .nav-item {
  position: relative;
  padding: 1.3rem 0;
  color: #545b64;
  margin-bottom: 0;
  border: 0;
  font-weight: 700;
}

.nav-tabs .nav-item.active {
  color: #eb5f07;
}

.nav-tabs .nav-item.active:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 0.2rem;
  background: #16191f;
}

.nav-tabs .nav-item span {
  padding: 0.5rem 1.3rem;
}

.nav-tabs .nav-item:not(:last-child) span {
  border-right: 1px solid #aab7b8;
}

/* TABS*/
.tab-content {
  padding: 1.9rem 1rem;
}

.tab-content .tab-pane > .alert:first-child {
  margin-top: 0;
}

.tab-content ol {
  padding-left: 2rem;
}

.tab-content ol li {
  list-style: decimal;
}

/* PAGINATION */
.pagination button {
  color: #16191f;
}

.pagination button:active,
.pagination button:focus,
.pagination button:hover {
  color: #16191f;
  text-decoration: none !important;
}

.pagination .selected {
  font-weight: bold;
}

/* ICONS */
.stroke-linejoin-round {
  stroke-linejoin: round;
}

.stroke-linecap-square {
  stroke-linecap: square;
}

/* JOB DETAILS */
.status-label span {
  vertical-align: middle;
  margin-left: 5px;
}

.status-label.error,
.status-label.warning {
  color: #d13212;
}

.status-label.success {
  color: #1d8102;
}

.status-label.info {
  color: #0073bb;
}

.details {
  padding: 20px 30px !important;
}

.details .label {
  color: #545b64;
}

.details .value {
  color: #000;
}

.details-box {
  width: 50%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  float: left;
}

.details-box.with-border-bottom {
  border-bottom: 1px solid #eaeded;
}

.details-box.w100 {
  width: 100%;
}

.details-box a {
  padding-left: 0;
  padding-right: 4px;
}

.details-box .value {
  height: 20px;
}

.json-visualiser {
  font-size: 12px;
}

.refresh-counter {
  margin-left: 10px;
}
