---

name: Release Version
on:
  push:
    branches:
      - master
jobs:
  release:
    name: Release Version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      # Cache
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      # Setup
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install virtualenv
        run: pip install virtualenv
      - name: Install dependencies
        run: make setup-predeploy
      # Release if required
      - name: Set version
        id: version
        run: echo ::set-env name=THIS_VERSION::$(make version)
      - name: Set latest
        id: latest
        run: echo ::set-env name=LATEST::$(git describe --tags $(git rev-list --tags --max-count=1) 2> /dev/null || echo '0')
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        if: env.THIS_VERSION > env.LATEST
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.THIS_VERSION }}
          release_name: Release ${{ env.THIS_VERSION }}
          body: |
            See the CHANGELOG for a list of features included in this release #TODO
          draft: false
          prerelease: false
